.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header a{
    color:#FFFFFF ;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px ;
    letter-spacing: 0.005em;
    margin-left: 36px;
}
.header a:hover{
    color: rgb(239, 97, 68);
}
.header:hover{
    background-color: rgb(101, 158, 156);
}
